<!DOCTYPE html>
<html lang="{{ lang | default(value="en" ) }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
  
  {% if config.description %}<meta name="description" content="{{ config.description }}">{% endif %}
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Bengali:wght@400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  
  <!-- KaTeX -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>

  <script>
    const storageKey = 'theme-preference';

    const getColorPreference = () => {
      if (localStorage.getItem(storageKey))
        return localStorage.getItem(storageKey);
      else
        return window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light';
    };

    const setPreference = () => {
      localStorage.setItem(storageKey, theme.value);
      reflectPreference();
    };

    const reflectPreference = () => {
      document.documentElement.setAttribute('data-theme', theme.value);
      const toggle = document.querySelector('#theme-toggle');
      if (toggle) {
        toggle.innerText = theme.value === 'light' ? 'dark' : 'light';
        toggle.setAttribute('aria-label', theme.value);
      }
    };

    const theme = {
      value: getColorPreference(),
    };

    reflectPreference();

    window.onload = () => {
      reflectPreference();
      document.querySelector('#theme-toggle').addEventListener('click', () => {
        theme.value = theme.value === 'light' ? 'dark' : 'light';
        setPreference();
      });
    };

    window.matchMedia('(prefers-color-scheme: dark)').addListener(({matches:isDark}) => {
      theme.value = isDark ? 'dark' : 'light';
      setPreference();
    });
  </script>
</head>
<body>
  {% include "header.html" %}
  <main>
    {% block main %}{% endblock %}
  </main>
  {% include "footer.html" %}
</body>
</html>
